<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/script/game.js"></script>
</head>
<body>
<h1>Room Information</h1>
<p><strong>Room ID: </strong><span th:text="${roomInfo.roomId}"></span></p>
<p><strong>Room Name: </strong><span th:text="${roomInfo.roomName}"></span></p>
<p><strong>Topic ID: </strong><span th:text="${roomInfo.topicId}"></span></p>
<p><strong>Max People: </strong><span th:text="${roomInfo.maxPeople}"></span></p>
<p><strong>Quiz Count: </strong><span th:text="${roomInfo.quizCnt}"></span></p>
</body>
</html>